

body {
	background-color:rgb(255, 255, 255);
}


/*ios test css*/



.image-shadow {
	margin: 20px auto;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	display: block;
	position: relative;
	background-size: cover;
}



/*ios test css*/

h1 {
	color:rgb(153, 153, 153);
	text-align: center;
	padding: 20px;
	
}

h2 {
	color:rgb(153, 153, 153);
	max-width: 400px;
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin: 50px auto 30px;
}

span {
	font-size: 16px;
	color: #666;
	font-weight: 400;

}

.js-tilt-container {
	transition: transform .1s ease;
	transform: rotateX(0) rotateY(0);
	transform-style: preserve-3d;
}

.leave {
	transform: rotateX(0) rotateY(0) !important;
	transition-timing-function: cubic-bezier(0.42, 0, 0, 1) !important;
	transition-duration: 1, 5s;
}

.imglogo {
	max-width: 150px;
	max-height: auto;
	padding: 10px;
	display: inline-block;
	
	
}

.img1 {
	background: rgb(255, 255, 255);
	width: 350px;
	height: 350px;
	filter: drop-shadow(10px 10px 30px #444);

}



.container-fluid{
    padding: 5px;

	
}

footer {
	background-color: rgb(209,210,212);
	padding: 25px;
    color:rgb(119, 119, 119);
	
}


